

grid-layout-site-banner-set(){
  .site-banner{
    height 300px;
    position relative;
    left 0;
    right 0;
    margin: 0 auto;
    @media (min-width: 992px){
      margin-top $grid-gutter;
      width $content-desktop-large;
      grid-layout-shadow-set();
    }

  }
}

grid-layout-title-set($font-size-headings-base = 1.25em, $font-size-headings-step = 0.125em){
    for $headline in (1 .. 6) {
      h{$headline} {
        font-size: $font-size-headings-base - $font-size-headings-step * $headline;
      }
    }
}
grid-layout-post-meta-item-style-set(){
  .post-meta-item{
      font-size 12px;
  }
}
grid-layout-post-set(){
  grid-layout-title-set($font-size-headings-base = 1.75em, $font-size-headings-step = 0.125em)
}

grid-layout-shadow-set(){
  background-color #222;
  box-shadow:0 0.4px 2.2px rgba(0, 0, 0, 0.037),
  0 0.9px 5.3px rgba(0, 0, 0, 0.053),
  0 1.6px 10px rgba(0, 0, 0, 0.065),
  0 2.9px 17.9px rgba(0, 0, 0, 0.077),
  0 5.4px 33.4px rgba(0, 0, 0, 0.093),
  0 13px 80px rgba(0, 0, 0, 0.13);

}


grid-layout-border-set(){
  border:2px solid rgba(255,255,255,0.25);
  

} 

grid-layout-index-montage-set(){

  .posts-montage{
  grid-layout-title-set();
  fixed-gutter-flex-grid(3, $grid-gutter, $grid-gutter, ".post-block", 100%, 769px, 999999px);
  fixed-gutter-flex-grid(2, $grid-gutter, $grid-gutter, ".post-block", 100%, 481px, 768px);
  fixed-gutter-flex-grid(1, $grid-gutter, $grid-gutter, ".post-block", 100%, 0px, 480px);
  padding 0px
  margin-left $grid-gutter
  @media screen and (max-width 992px){
    margin-left 0
  }
  .post-block{
    user-select none;
    height 300px;
    position relative
    box-sizing border-box
    grid-layout-shadow-set();
    &:first-of-type{
      padding-top 0
    }
    >article{
      position absolute
      left 0
      right 0
      bottom 0
      top 0
      padding-left $block-padding;
      padding-top $block-padding;
      margin auto;
    }
    .post-header{
      height 100%
      .post-title{
        margin 0
        padding-right $block-padding;
        &-link{
          border-bottom:none;
        }
      }
      .post-meta-container{
        position absolute
        bottom 0
        right 0
        padding-right $block-padding;
        padding-bottom $block-padding;
      }
      .post-meta{
        
        justify-content flex-end
        &-item{
          &-icon{
            display none
          }
          &-text{
            display none
          }
        }
      }
    }

    .post-body{
    display none
    }
    .post-footer{
      display none
    }

  }
  custom-pagination();
  }
}

grid-layout-pagination-set(){
  .pagination{
    margin 0
    padding 30px 0 20px 0;
    border:none;
    .page-number,.extend{
      border none;
    }
  }
}

grid-layout-head-inner-set(){
  .header-inner{
    background-color:transparent;
    grid-layout-shadow-set()
  }
  .site-brand-container{
    // grid-layout-border-set();
    background-color transparent
    @media screen and (max-width :992px){
       background-color #222;
       border:none;
    }
  }
  .site-nav{
    margin-top $grid-gutter
    // grid-layout-border-set();
    @media screen and (max-width :992px){
      margin-top 0;
       background-color #222;
       border:none;
    }
  }
  
}

grid-layout-sidebar-set(){
  .sidebar{
    // grid-layout-border-set();
    grid-layout-shadow-set();
  
  }
    
  }
  .sidebar-inner{
    background-color transparent;
    
  .site-author{
    &-image{
      border:none
      user-select:none;
    }
  }
}

grid-layout-main-inner-set(){
  .main-inner{
    background-color transparent;
    @media screen and (max-width :992px){
      padding 20px
    }
  }
  
}

grid-layout-main-set(){
  .main{
    margin-top 20px
    @media screen and (max-width :992px){
      margin-top 0
    }
  }
  
}

grid-layout-menu-set(){
  .menu-item a:hover, .menu-item span.exturl:hover, .menu-item a.menu-item-active, .menu-item span.exturl.menu-item-active{
    background-color transparent
  }
}

grid-layout-body-set(){
  body{
      background-color: #222;
  }
}

grid-layout-posts-collapse-set(){
  .posts-collapse{
    padding 20px
    .post-block:first-of-type{
        padding-top 20px
    }
  }
}

grid-layout-posts-expand-set(){
  .posts-expand{
    padding 20px
    .post-block:first-of-type{
        padding-top 20px
    }
  }
}

grid-layout-posts-expand-set(){
  .posts-expand{
    padding 40px
  }
}


grid-layout-style-set(){
  grid-layout-site-banner-set()
  grid-layout-post-meta-item-style-set();
  grid-layout-title-set();
  grid-layout-post-set();
  grid-layout-posts-expand-set();
  grid-layout-index-montage-set();
  grid-layout-pagination-set()
  grid-layout-head-inner-set()
  grid-layout-sidebar-set();
  grid-layout-main-inner-set();
  grid-layout-main-set();
  grid-layout-menu-set();
  grid-layout-body-set();
  grid-layout-posts-collapse-set();
  grid-layout-posts-expand-set();
}


