<script src="/{{ title }}/js/tool/canvas-fx-base.js"></script>

<script src="/{{ title }}/js/ripple-logo.js"></script>
<script src="/{{ title }}/js/silk-wave.js"></script>

<style>
  @font-face {
  font-family: "Roboto";
  src: url(/{{ title }}/font/Roboto.ttf) format("truetype");
}
</style>