<script src="uploads/js/tool/perlin-noise.js"></script>

<script src="uploads/js/ripple-logo.js"></script>
<script src="uploads/js/silk-wave.js"></script>

<style>
  @font-face {
  font-family: "Roboto";
  src: url(uploads/font/Roboto.ttf) format("truetype");
}
</style>